<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="weatherApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Погодный агрегатор</title>
    <link rel="stylesheet" href="ThirdParty/Foundation/css/foundation.css"  type="text/css"/>
    <script src="ThirdParty/jquery-2.1.1.min.js"></script>
    <script src="ThirdParty/angular.min.js"></script>
    <script src="ThirdParty/Foundation/js/foundation.min.js"></script>
    <script src="ThirdParty/Foundation/js/vendor/modernizr.js"></script>
    <script src="Scripts/weather.proxy.js"></script>
    <script src="Scripts/weather.js"></script>
  </head>
<body ng-controller="WeatherController">
    <div class="row">
        <div class="large-12 columns">
            <h1>Погода для тебя бесплатно без смс без регистрации</h1>
        </div>
    </div>
    <div class="row">
        <div class="large-6 medium-6 columns">
            <div class="callout panel">
                <div ng-repeat="source in sources">
                    <input type="checkbox" id="site{{source.Id}}" data-id="{{source.Id}}" checked="checked" />
                    <label for="site{{source.Id}}">{{source.Name}}</label>
                </div>
            </div>
        </div>
        <div class="large-6 medium-6 columns">
            <div class="callout panel">
                <button class="medium success button" ng-click="getWeather()">Check weather!</button>
            </div>
        </div>
        <p>Судя по точности прогнозов, в ГидроМетЦентре, "мет" может означать "метамфетамин"</p>
    </div>
</body>
</html>