<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="weatherApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Погодный агрегатор</title>
    <link rel="stylesheet" href="ThirdParty/Foundation/css/foundation.css" type="text/css"/>
    <link rel="stylesheet" href="Styles/weather.css" type="text/css"/>
    <script src="ThirdParty/angular.js"></script>
    <script src="ThirdParty/jquery-1.11.1.min.js"></script>
    <script src="ThirdParty/Foundation/js/foundation.min.js"></script>
    <script src="ThirdParty/Foundation/js/foundation/foundation.tab.js"></script>
    <script src="ThirdParty/waiter-min.js"> </script>
    <script src="Scripts/weather.proxy.js"></script>
    <script src="Scripts/weather.utils.js"></script>
    <script src="Scripts/weather.js"></script>
<!--    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAWHdAr9LSWRs6l1EfLBxOEm1hWU-3rS_8"></script>
    <script src="Scripts/gmap.js"> </script>-->
    <script type="text/javascript" src="http://api-maps.yandex.ru/2.1/?key=AE80tVMBAAAAK2PZMAMAPzfCsGnTsCwFoPO4qgeVhMwN8OMAAAAAAAAAAACJLYVCQ-kNtL4dy4fHTpoSkV2eEg==&lang=ru_RU"></script>
    <script src="Scripts/ymap.js"> </script>

  </head>
<body ng-controller="WeatherController">
    <div class="row">
        <div class="large-12 columns">
            <h1>Погодный агрегатор</h1>
            <br/>
            (Усредненная информация о погоде из выбранных источников)<br/><br/>
        </div>
    </div>
    <div class="row">
        <div class="large-4 columns">
            <div class="callout panel" id="sourcesDiv">
                Пожалуйста, выберите источники данных о погоде: <br/><br/>
                <div ng-repeat="source in sources">
                    <input type="checkbox" id="site{{source.Id}}" data-sourceId="{{source.Id}}" />
                    <label for="site{{source.Id}}">{{source.Name}}</label>
                    <span ng-if="source.ForecastMaxDays > 0" class="maxDays">(Максимум {{source.ForecastMaxDays}} дней)</span><br/><br/>
                    <div class="snippet" ng-bind-html="source.Snippet"></div>
                </div>
            </div>
        </div>
        <div class="large-8 columns">
            <div class="callout panel" >
                <div id="map-canvas" style="width:600px;height: 300px; margin-bottom: 10px"></div>
                <button class="medium success button" ng-click="getWeather()">Посмотреть прогноз</button>
                <div class="hidden" id="tabsDiv">
                    <ul class="tabs">
                        <li class="tab-title {{weather.active}}" ng-repeat="weather in weatherModels"><a href="#panel2-{{weather.index}}" id="tabDay{{weather.index}}">{{weather.day}}</a></li>
                    </ul>
                    <div class="tabs-content">
                        <div class="content {{weather.active}}" id="contenttabDay{{weather.index}}" ng-repeat="weather in weatherModels">
                            <p>Температура: {{weather.Temperature}}</p> 
                            <p>Облачность: <img class="cloudness" ng-src="Images/{{weather.cloudInfo.icon}}" title="{{weather.cloudInfo.title}} - {{weather.cloudInfo.percentage}}%" /></p> 
                            <p>Осадки: {{weather.Precipitation}}</p> 
                        
                            <a id="lnkDetails" style="font-size: smaller" ng-click="toggleDetails()">{{detailsText()}}</a>
                            <div id="details" ng-show="detailsVisible">
                                <table>
                                    <tr>
                                        <th>Источник</th>
                                        <th>Температура</th>
                                        <th>Облачность</th>
                                        <th>Осадки</th>
                                    </tr>
                                    <tr ng-repeat="sw in weather.sourcedWeatherModels">
                                        <td>{{sw.SourceName}}</td>
                                        <td>{{sw.Temperature}}</td>
                                        <td><img class="cloudness" ng-src="Images/{{sw.cloudInfo.icon}}" title="{{sw.cloudInfo.title}} - {{sw.cloudInfo.percentage}}%" /></td>
                                        <td>{{sw.Precipitation}}</td>
                                    </tr>
                                </table>
                            </div>
                        
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <p>Судя по точности прогнозов, в ГидроМетЦентре, "мет" может означать "метамфетамин"</p>
    </div>
</body>
</html>