html,body {
			margin:0;
			height:100%
		}
		
		.sky {
			height:100%;
			/*background:#007fd5;*/
			position:absolute;
		    top: 0;
		    left: 0;
		    height: 100%;
		    width: 100%;
			overflow:hidden;
            background:-moz-linear-gradient(center top , #4682b4 0%, #fff 100%);
            background:-webkit-linear-gradient(center top , #4682b4 0%, #fff 100%);
            background:-o-linear-gradient(center top , #4682b4 0%, #fff 100%);
            background:linear-gradient(to bottom, #4682b4 0%, #fff 100%);
			/*-webkit-animation:sky_background 50s ease-out infinite;
			-moz-animation:sky_background 50s ease-out infinite;
			-o-animation:sky_background 50s ease-out infinite;*/
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
		    -o-transform: translate3d(0, 0, 0);
		    z-index: -1;
		}		
		
		.clouds_one {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_one.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_one 150s linear infinite;
			-moz-animation:cloud_one 150s linear infinite;
			-o-animation:cloud_one 150s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
		    -o-transform: translate3d(0, 0, 0);
		    z-index: -1;
		}
		
		.clouds_two {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_two.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_two 175s linear infinite;
			-moz-animation:cloud_two 175s linear infinite;
			-o-animation:cloud_two 175s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0);
		    z-index: -1;
		}
		
		.clouds_three {
			background:url("http://montanaflynn.me/lab/css-clouds/images/cloud_three.png");
			position:absolute;
			left:0;
			top:0;
			height:100%;
			width:300%;
			-webkit-animation:cloud_three 300s linear infinite;
			-moz-animation:cloud_three 300s linear infinite;
			-o-animation:cloud_three 300s linear infinite;
			-webkit-transform:translate3d(0,0,0);
			-moz-transform:translate3d(0,0,0);
			-o-transform:translate3d(0,0,0);
		    z-index: -1;
		}
		
		@-webkit-keyframes sky_background {
			0% {
				background:#007fd5;
				color:#007fd5
			}
			
			50% {
				background:#000;
				color:#a3d9ff
			}
			
			100% {
				background:#007fd5;
				color:#007fd5
			}
		}
		
		@-webkit-keyframes moon {
			0% {
				opacity: 0;
				left:-200%
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
			
			50% {
				opacity: 1;
				-moz-transform: scale(1);
				left:0%
				bottom:250px;
  				-webkit-transform: scale(1);
			}
		
			100% {
				opacity: 0;
				bottom:500px;
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
		}
		
		@-webkit-keyframes cloud_one {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-webkit-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-webkit-keyframes cloud_three {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes sky_background {
			0% {
				background:#007fd5;
				color:#007fd5
			}
			
			50% {
				background:#000;
				color:#a3d9ff
			}
			
			100% {
				background:#007fd5;
				color:#007fd5
			}
		}
		
		@-moz-keyframes moon {
			0% {
				opacity: 0;
				left:-200%
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
			
			50% {
				opacity: 1;
				-moz-transform: scale(1);
				left:0%
				bottom:250px;
  				-webkit-transform: scale(1);
			}
		
			100% {
				opacity: 0;
				bottom:500px;
				-moz-transform: scale(0.5);
  				-webkit-transform: scale(0.5);
			}
		}
		
		@-moz-keyframes cloud_one {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_two {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}
		
		@-moz-keyframes cloud_three {
			0% {
				left:0
			}
		
			100% {
				left:-200%
			}
		}